/* @import "compass/css3";

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
} */

body {
    /* background-color: #7F4343; */
    /* background: no-repeat; */
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}

#background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background:  rgb(73, 73, 73); */
}

#overlay {
    position: relative;
    background-image: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url('img/img1.jpg');
    background-size: cover;
    background-position: center;
    opacity: 1;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(73, 73, 73);

    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 2s; */
}

#map {
    opacity: 100;
}

#logoHeader {
    margin: 0px;
    padding: 30px;
    margin-bottom: 20px;
}

#welcomeDesc, #searchBox {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

#input-form-one, #input-form-two {
    width: 400px;
    height: 40px;
    font-size: 24px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
}

#searchAgainBtn {
    height: 50px;
    width: 180px;
    font-size: 20px;
    border-style: solid;
    color: white;
    border-radius: 40px;
    background: rgb(73, 73, 73);
    border-color: rgb(73, 73, 73);
    align-items: center;
}

#searchAgainBtn:hover{
    cursor: pointer;

}




#searchButton {
    height: 40px;
    font-size: 26px;
    border-style: solid;
    color: #7F4343;
    float: right;
    border-radius: 40px;
    background: white;
    border-color: white;
    align-items: center;
    margin-top: 20px;
}

#searchButton:hover {
    color: rgb(6, 114, 6);
    background: #7F4343;
    border-color: #7F4343;
    cursor: pointer;
}

#resultsArea {
    text-align: center;
    font-size: 1.5em;
}

footer {
    text-align: center;
}

#map {
    width: 1000px;
    height: 600px;
    margin: 0px auto;
    color: black;
    margin-bottom: 20px;
}

.searchBarContainer {
    display: inline-block;
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
}

#search-form {
    display: inline-grid;
}