@media only screen and (max-width: 1020px){
   #map{
       width: 100%;
   }

}

@media only screen and (max-width: 546px){
    #searchBox{
        padding: 0px;
    }

    #searchButton{
        width: 100%;
        margin-top: 11px;
        margin-left: -18px;
        border-radius: 0px;
        float: none;
    }
    #searchBarContainer{
        width: 100%;
        border-radius: 0px;
    }

    #searchBox{
        height: 160px;
    }
}

@media only screen and (max-width: 393px){
    #searchBox{
        height: 180px;
    }
}

@media only screen and (max-width: 209px){
    #searchBox{
        height: 210px;
    }
}

@media only screen and (max-width: 158px){
    #searchBox{
        height: 240px;
    }
}
