@media only screen and (max-width: 1020px){
   #map{
       width: 100%;
   }

}

@media only screen and (max-width: 546px){
    #searchBox{
        padding: 0px;
    }

    #searchButton{
        width: 100%;
        float: none;
    }

    #searchBarContainer{
        width: 100%;
        border-radius: 0px;
    }

    #searchBox{
        height: 160px;
    }

    #searchAgainBtn{
        padding: 0px;
        margin-top: 30px;
        width: 100%;
    }

    #againBtnForm{
        padding: 0px;
    }
}
